
openapi: 3.0.2

info:

  title: Qredo Partner & Core Client API

  description: >
    The Qredo Partner API provisions and manages Qredo services. It can be used by Partners to setup and manage client accounts. The Core Client API enables transactions to be initiated and signed.
    
      Note, two servers are provided:
      - API server base path https://api.qredo.network/api/v1/p
      - Sandbox server base path https://sandbox-api.qredo.network/api/v1/p


  version: 1.1.2

servers:

  - url: 'https://api.qredo.network/api/v1/p'
    description: API server

  - url: 'https://sandbox-api.qredo.network/api/v1/p'
    description: Sandbox server


security:

  - ApiKeyAuth: []


paths:

  /assets:

    get:

      tags:

        - Common

      summary: Supported assets

      description: returns a list of supported assets and their codes

      parameters:

        - required: false

          schema:

            title: x-nonce

            type: string

          name: x-nonce

          in: header

        - required: false

          schema:

            title: x-timestamp

            type: string

          name: x-timestamp

          in: header

        - required: false

          schema:

            title: x-sign

            type: string

          name: x-sign

          in: header

      responses:

        '200':

          description: Successful Response

          content:

            application/json:

              schema:

                $ref: '#/components/schemas/Assets'

        '401':

          $ref: '#/components/responses/Unauthorized'

  /fees:

    post:

      tags:

        - Common

      summary: Calculate fees

      description: Calculate fees for specific assets and transaction types for any company on the network.

      parameters:

        - required: false

          schema:

            title: x-nonce

            type: string

          name: x-nonce

          in: header

        - required: false

          schema:

            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeesRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /company:
    post:
      tags:
        - Company
      summary: Create Company
      description: |-
        Create a Company on behalf of a customer account to include all managed network entities
         i.e. Trusted Parties, Holdings, Funds, Custody Policies and those for the movement of assets (deposits, transfers, and withdrawals).
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompanyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':

          $ref: '#/components/responses/Conflict'
  '/company/{company_id}':
    get:
      tags:
        - Company
      summary: Get Company
      description: returns details of a Company from the Company ID.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Company
      summary: Update Company
      description: Change details of a Company
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCompanyResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /company/search:
    get:
      tags:
        - Company
      summary: Search Company
      description: 'Search for a Company in the database using the string entered in the query parameter for matching. For example, entering 3 letters returns all companies where those letters exist.'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: false
          schema:
            title: Query
            type: string
          name: query
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySearchResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
  '/company/{company_id}/trustedparty':
    get:
      tags:
        - TrustedNetwork
      summary: returns all Trusted Parties for a Company
      description: Returns all Trusted Parties for a Company. A Trusted Party is a user that can be added as a custodian of a wallet or member of a fund.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrustedPartyList'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - TrustedNetwork
      summary: Add Trusted Party
      description: |-
        Add a Trusted Party for the Company. A Trusted Party is a user that can be added as a custodian of a wallet or member of a fund. Qredo network as a Company or User.
          When adding a user, they must approve this via their Qredo Signing App.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrustedPartyNew'
        required: true
      responses:
        '200':
          description: 'HTTP 200 OK message indicating that the request for adding a Trusted Party was successful. Note that when you add a Trusted Party as a user, they need to approve this using their Qredo Signing App.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/trustedparty/{trustedparty_id}':
    delete:
      tags:
        - TrustedNetwork
      summary: Del Trusted party
      description: Delete a Trusted Party from the trusted network.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: Trusted party id
            description: The ID of the trusted party.
            type: string
          name: trustedparty_id
          in: path
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/holding':
    get:
      tags:
        - Holding
      summary: Get Holdings
      description: 'returns information on all the assets for a company on the Qredo network. Each Holding is divided according to the asset type. Each Holding entry also includes the balance for that asset, allowing you to track funds coming in and out.'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Holdings'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/fund':
    post:
      tags:
        - Fund
      summary: Add Fund
      description: 'Create a Fund that serves as a wallet containing assets, addresses, and custody policies. Custody policies for both deposits and withdrawals must exist for a fund. Policies can include multiple custodians, or a single user that self-manages custody. For an individual fund, you can also add whitelisted withdrawal addresses.'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Fund'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFundResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/fund/{fund_id}':
    get:
      tags:
        - Fund
      summary: Get Fund
      description: returns basic information on the Fund including the custody groups for withdrawal and transfers. There are also details on fund members who are part of each custody group.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: Fund Id
            type: string
          name: fund_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/fund/{fund_id}/deposit':
    get:
      tags:
        - Fund
      summary: Get Fund Deposit Address
      description: returns a list of fund assets with their Deposit Addresses and current balances. Each fund contains one or more deposit addresses for the different types of assets.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: Fund Id
            type: string
          name: fund_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundDepositResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/fund/{fund_id}/whitelist':
    get:
      tags:
        - Fund
      summary: Get Fund Whitelist
      description: Get Whitelisted addresses for fund transactions.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: FundID
            type: string
          name: fund_id
          in: path
        - required: false
          schema:
            title: Address
            description: Filter by specific address
            type: string
          name: address
          in: query
        - required: false
          schema:
            title: Asset
            description: 'Filter by specific asset code, use in combination with address'
            type: string
          name: asset
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundWhitelist'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Fund
      summary: Add Whitelist address
      description: An address needs to be Whitelisted to ensure it is approved for a withdrawal transaction.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: Fund Id
            type: string
          name: fund_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddFundWhitelist'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/fund/{fund_id}/asset':
    post:
      tags:
        - Fund
      summary: Add Asset to a fund
      description: Add an Asset to an existing fund
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: Fund Id
            type: string
          name: fund_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundAsset'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletIDList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  '/company/{company_id}/fund/{fund_id}/wallet':
    post:
      tags:
        - Fund
        - Wallet
      summary: Add Wallet to a fund
      description: Add a new Wallet to an existing fund. If Custody groups are blank the default fund cutosdy policy will be used
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: Fund Id
            type: string
          name: fund_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundWallet'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletIDList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  '/company/{company_id}/fund/{fund_id}/ledger':
    get:
      tags:
        - Fund
      summary: Transaction ledger
      description: Get transaction ledger for a fund
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: Fund Id
            type: string
          name: fund_id
          in: path
        - required: false
          schema:
            title: Asset
            type: string
          name: asset
          in: query
        - required: false
          schema:
            title: Wallet Id
            type: string
          name: wallet_id
          in: query
        - required: false
          schema:
            title: Direction
            type: string
            enum:
              - all
              - in
              - out
          name: direction
          in: query
        - required: false
          schema:
            title: Offset
            type: integer
          name: offset
          in: query
        - required: false
          schema:
            title: Limit
            type: integer
          name: limit
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxLedger'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/fund/search':
    get:
      tags:
        - Fund
      summary: Search Fund
      description: 'Search funds in the database using the string entered in the query parameter for matching. For example, entering 3 letters returns all funds where those letters exist.'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: false
          schema:
            title: Query
            type: string
          name: query
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundSearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/wallet/{wallet_id}':
    get:
      tags:
        - Wallet
      summary: Get wallet info
      description: 'Get wallet info, addresses and balance.'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Wallet Id
            type: string
          name: wallet_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundWalletInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/wallet/{wallet_id}/history':
    get:
      tags:
        - Wallet
      summary: Get wallet history
      description: Get wallet history
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Wallet Id
            type: string
          name: wallet_id
          in: path
        - required: false
          schema:
            title: Since timestamp
            description: Include only the history after that epoch timestamp
            type: number
          name: since
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundWalletHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/wallet/{wallet_id}/max':
    get:
      tags:
        - Wallet
      summary: Get wallet max amount with fees
      description: Returns the max amount that can be moved out of the wallet. Set pending="1" to include unauthorized transactions when calculating the available balance
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Wallet Id
            type: string
          name: wallet_id
          in: path
        - required: false
          schema:
            title: Include unconfirmed transactions
            description: Set "1" to include pending transaction when calculating the available balance
            type: number
            default: 0
          name: pending
          in: query
        - required: false
          schema:
            title: Transaction type
            type: string
            enum:
              - transfer
              - withdraw
              - swap
            default: transfer
          name: tx_type
          in: query
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /exchanges:
    get:
      tags:
        - Wallet
      summary: Get list of all available exchanges
      description: Get list of all identities that can be added as Connected accounts to a wallet.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangesList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/transfer':
    post:
      tags:
        - Transfer
      summary: New Transfer
      description: 'Initiate a new Transfer on a fund that includes various settings for the transaction. When a transfer transaction is created, custodian(s) need to approve it via their Qredo Signing app. The number of custodian approvals depends on the Transfer Policy settings for the fund.'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Transfer'
        required: true
      responses:
        '200':
          description: Response is Transaction ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/transfer/{tx_id}':
    get:
      tags:
        - Transfer
      summary: Get Transfer Status
      description: returns the Transfer Status for a specific transaction at that point in time.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: TxId
            type: string
          name: tx_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/withdraw':
    post:
      tags:
        - Withdrawal
      summary: New withdrawal
      description: 'Initiate a withdrawal and set parameters for the transaction. When a withdrawal transaction is created, custodian(s) need to approve it through their Qredo Signing app. (The number of custodian approvals depends on your Transfer Policy settings.)'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Withdrawal'
        required: true
      responses:
        '200':
          description: Response is Transaction ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/withdraw/{tx_id}':
    get:
      tags:
        - Withdrawal
      summary: Get withdrawal status
      description: Obtain details on a withdrawal status
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: TxId
            type: string
          name: tx_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/atomicswap/make':
    post:
      tags:
        - Atomic Swap
      summary: Create Atomic Swap Quote
      description: Initiate an Atomic Swap Quote and set parameters for the transaction.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtomicSwapMake'
        required: true
      responses:
        '200':
          description: Response is Atomic Swap ID and Swap URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapTxId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/atomicswap/make/{tx_id}':
    get:
      tags:
        - Atomic Swap
      summary: Get Atomic Swaps Quote details
      description: Obtain details on an atomic swap
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: TxId
            type: string
          name: tx_id
          in: path
      responses:
        '200':
          description: Successful Response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Atomic Swap
      summary: Cancel Atomic Swap
      description: Cancel atomic swap
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: TxId
            type: string
          name: tx_id
          in: path
      responses:
        '202':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OkResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/atomicswap/take':
    post:
      tags:
        - Atomic Swap
      summary: Initiate Atomic swap taker transaction
      description: Initiate an atomic swap take transaction.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AtomicSwapTake'
        required: true
      responses:
        '200':
          description: Response is txID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/atomicswap/take/{tx_id}':
    get:
      tags:
        - Atomic Swap
      summary: Get atomic swap taker status
      description: Obtain details on an atomic swap
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
        - required: true
          schema:
            title: TxId
            type: string
          name: tx_id
          in: path
      responses:
        '200':
          description: Successful Response
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/company/{company_id}/liquidityhub':
    get:
      tags:
        - Liquidity Hub
      summary: Get Liquidity Hub
      description: 'Get all the active swaps in the liquidity hub. You can use a WebSocket connection to get live notifications when a new swap is added to the liquidity hub using this endpoint: wss://api.qredo.network/api/v1/p/liquidityhub/feed'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidityHub'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
        - Liquidity Hub
      summary: Add to liquidity hub
      description: Add an existing swap to the liquidity hub.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Company Id
            type: string
          name: company_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddToLiquidityHub'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /liquidityhub:
    get:
      tags:
        - Liquidity Hub
      summary: Get Liquidity Hub
      description: 'Get all the active swaps in the liquidity hub. You can use a WebSocket connection to get live notifications when a new swap is added to the liquidity hub using this endpoint: wss://api.qredo.network/api/v1/p/liquidityhub/feed'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiquidityHub'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /coreclient:
    post:
      tags:
        - Core Client
      summary: Create a new Core Client
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCoreClient'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreClientInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    get:
      tags:
        - Core Client
      summary: Get a list of all registered Core Clients
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreClientsInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/coreclient/{client_id}/actions':
    get:
      tags:
        - Core Client
      summary: Pending actions
      description: Returns actions with a status of 'Pending'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Core Client Id
            type: string
          name: client_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionsInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/coreclient/{client_id}/action/{action_id}':
    get:
      tags:
        - Core Client
      summary: Details of an action
      description: 'Returns the details of an action including Type, Status, Timestamp and Expiry Time.'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Core Client Id
            type: string
          name: client_id
          in: path
        - required: true
          schema:
            title: Action Id
            type: string
          name: action_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Core Client
      summary: Approve action
      description: Approve a specific action
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Core Client Id
            type: string
          name: client_id
          in: path
        - required: true
          schema:
            title: Action Id
            type: string
          name: action_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Core Client
      summary: Reject a specific action
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Core Client Id
            type: string
          name: client_id
          in: path
        - required: true
          schema:
            title: Action Id
            type: string
          name: action_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActionDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/coreclient/{client_id}/wallets':
    get:
      tags:
        - Core Client
      summary: Get connected wallets
      description: Obtain details on connected wallets and wallets pending approval
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Core Client Id
            type: string
          name: client_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  wallets:
                    type: array
                    items:
                      $ref: '#/components/schemas/CoreClientWallet'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/coreclient/{client_id}/sweep':
    post:
      tags:
        - Sweep
      summary: New sweep
      description: Initiate a new sweep transactions and set parameters for the transaction.
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Core Client Id
            type: string
          name: client_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Sweep'
        required: true
      responses:
        '200':
          description: Response is Transaction ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TxId'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/coreclient/{client_id}/sweep/{tx_id}':
    get:
      tags:
        - Sweep
      summary: Get sweep status
      description: Obtain details on a sweep transaction status
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Core Client Id
            type: string
          name: client_id
          in: path
        - required: true
          schema:
            title: TxId
            type: string
          name: tx_id
          in: path
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SweepInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/coreclient/{client_id}/sign':
    post:
      tags:
        - Core Client Sign
      summary: Sign a hash
      description: 'Signs a hash message with the core client''s BLS key. The message should be no bigger than 64 bytes, hex encoded'
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
        - required: true
          schema:
            title: Core Client Id
            type: string
          name: client_id
          in: path
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoreClientSign'
        required: true
      responses:
        '200':
          description: Response is the message signature.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CoreClientSignature'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /coreclient/verify:
    post:
      tags:
        - Core Client Sign
      summary: Verify signature
      description: Verifies a signature
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoreClientVerifySignature'
        required: true
      responses:
        '200':
          description: Signature is valid.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Signature is not valid.
        '404':
          $ref: '#/components/responses/NotFound'
  /coreclient/init:
    post:
      summary: Initiate core client onboarding
      description: Initiates an automated approver core client registration
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-nonce
          in: header
        - required: false
          schema:
            title: x-timestamp
            type: string
          name: x-timestamp
          in: header
        - required: false
          schema:
            title: x-sign
            type: string
          name: x-sign
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                blsPublicKey:
                  type: string
                ecPublicKey:
                  type: string
              x-examples:
                example-1:
                  name: ''
                  blsPublicKey: ''
                  ecPublicKey: ''
        required: true
      responses:
        '200':
          description: Signature is valid.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Signature is not valid.
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: ''
      tags:
        - AutomatedApprover
    parameters: []
  /coreclient/finish:
    post:
      summary: Finish core client onboarding
      description: Finishes core client registration by storing the signed IDDoc
      parameters:
        - required: false
          schema:
            title: x-nonce
            type: string
          name: x-api-xkp
          in: header
      requestBody:
        content:
          application/json:
            schema:
              type: object
              x-examples:
                example-1:
                  name: ''
                  blsPublicKey: ''
                  ecPublicKey: ''
              properties:
                idDocSignatureHex:
                  type: string
        required: true
      responses:
        '200':
          description: Signature is valid.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Signature is not valid.
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
        - AutomatedApprover
    parameters: []
  /coreclient/feed:
    parameters: []
    get:
      summary: Get core client actions feed
      operationId: get-coreclient-feed
      responses:
        '200':
          description: OK
      description: WebSocket feed for core client actions
      parameters:
        - schema:
            type: string
          in: header
          name: x-api-zkp
      tags:
        - AutomatedApprover
  '/coreclient/action/{action_id}':
    parameters:
      - schema:
          type: string
        name: action_id
        in: path
        required: true
    get:
      summary: Get action messages
      operationId: get-coreclient-action-action_id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  messages:
                    type: array
                    items:
                      type: string
      description: Returns action messages for action_id
      parameters:
        - schema:
            type: string
          in: header
          name: x-api-zkp
      tags:
        - AutomatedApprover
    put:
      summary: Approve action
      operationId: put-coreclient-action-action_id
      responses:
        '200':
          description: OK
      description: Approve acction_id
      parameters:
        - schema:
            type: string
          in: header
          name: x-api-zkp
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                signatures:
                  type: array
                  items:
                    type: string
      tags:
        - AutomatedApprover
    delete:
      summary: Reject action
      operationId: delete-coreclient-action-action_id
      responses:
        '200':
          description: OK
      parameters:
        - schema:
            type: string
          in: header
          name: x-api-zkp
      description: Reject action_id
      tags:
        - AutomatedApprover
  '/company/{company_id}/fund/{fund_id}/wallet/{wallet_id}/policy':
    parameters:
      - schema:
          type: string
        name: company_id
        in: path
        required: true
      - schema:
          type: string
        name: fund_id
        in: path
        required: true
      - schema:
          type: string
        name: wallet_id
        in: path
        required: true
    put:
      summary: ''
      operationId: update-wallet-policy
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                policy_id:
                  type: string
                threshold:
                  type: integer
                members:
                  type: array
                  items:
                    type: string
                type:
                  type: string
            examples:
              update-policy-tx:
                value:
                  policy_id: 26YgyhZaTDttAqN6shVr5lQgUCs
                  threshold: 1
                  members:
                    - EM6rPkjEA479p7f3sXxbUPH7TfMzvoVv9eEEGR6w8gqU
                    - B12SfpdA2WKPvEFsyNKh1bwEtCKtYfAcQ9FL2NArDHgN
                  type: policy-tx
      responses:
        '200':
          description: OK
      description: Update fund wallet withdraw or transfer policy
      tags:
        - Wallet
components:
  securitySchemes:
    ApiKeyAuth:
      description: ApiKeyAuth consists of the following parameters.
      type: apiKey
      in: header
      name: X-API-KEY
  responses:
    Ok:
      description: Seuccessful response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OkResponse'
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Conflict:
      description: The specified resource already exists
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    OkResponse:
      type: object
      properties:
        code:
          type: integer
        msg:
          type: string
      example:
        code: 200
        msg: ok
    Error:
      type: object
      properties:
        code:
          type: string
        msg:
          type: string
        detail:
          type: object
          properties:
            reason:
              type: string
    TxId:
      properties:
        tx_id:
          type: string
        status:
          enum:
            - new
            - existing
          type: string
      example:
        tx_id: 9827feec4eae4e80bda3daa7c3b97add
        status: new
    SwapTxId:
      properties:
        tx_id:
          type: string
        tx_url:
          type: string
        status:
          enum:
            - new
            - existing
      example:
        tx_id: bda3daa7c3b97add9827feec4eae4e80
        tx_url: 'https://qredo.netwok/aswpbda3daa7c3b97add9827feec4eae4e80'
        status: new
    Assets:
      type: object
      properties:
        assets:
          title: Assets list
          type: object
          properties:
            code:
              title: Asset code
              type: string
            name:
              title: Asset name
              type: string
            unitCode:
              title: Unit code
              type: string
            scale:
              title: Unit scale
              description: Unit scale.
              type: number
            enabled:
              title: Unit enabled
              description: Unit enabled
              type: boolean
      example:
        assets:
          code: BTC-TESTNET
          name: Bitcoin Testnet
          unitCode: BTC-TEST
          scale: 100000000
          enabled: true
    FeesRequest:
      type: object
      properties:
        type:
          title: Transaction type
          type: string
          enum:
            - withdraw
            - transferOut
            - swap
        asset:
          title: Asset code
          type: string
        amount:
          title: Amount
          type: number
      example:
        type: transferOut
        asset: BTC-TESTNET
        amount: 200000
    FeesResponse:
      type: object
      properties:
        netAmount:
          title: Net amount
          type: number
        amountToSend:
          title: Amount to send
          type: number
        fees:
          title: Fees
          type: number
      example:
        netAmount: 200000
        amountToSend: 200200
        fees: 200
    Company:
      title: Company
      required:
        - name
      type: object
      properties:
        name:
          title: Name
          type: string
        city:
          title: City
          type: string
        country:
          title: Country code
          type: string
          description: ISO 3166-1 country code
        domain:
          title: Domain
          type: string
        ref:
          title: Reference
          type: string
          description: Company reference ID
          default: ''
        company_id:
          title: Company Id
          type: string
      example:
        name: ACME Corp
        city: Paris
        country: FR
        domain: acme.com
        ref: 9827feec-4eae-4e80-bda3-daa7c3b97add
    CreateCompanyResponse:
      title: CreateCompanyResponse
      description: A Company ID is generated when a new company is created.
      required:
        - company_id
        - ref
      type: object
      properties:
        ref:
          title: Reference
          type: string
          description: Company reference ID
          default: ''
        company_id:
          title: Company ID
          type: string
          description: Company ID
    TrustedParty:
      title: Trusted Network
      type: object
      properties:
        company_id:
          type: string
        total_count:
          type: integer
        list:
          type: object
          properties:
            trusted_entity_id:
              type: string
            name:
              type: string
            address:
              type: string
            type:
              type: string
              title: Trusted entity type
            created:
              description: Timestamp of when the trusted party was created in Epoch time.
              type: integer
    TrustedPartyList:
      title: TrustedPartyList
      type: object
      properties:
        company_id:
          title: Company id
          type: string
          description: The company id.
        total_count:
          description: Total count in integer format of the number of matches from a trusted party search.
          title: Total count
          type: integer
        list:
          title: List
          description: Array showing details of trusted parties that comprise the total count.
          type: array
          items:
            $ref: '#/components/schemas/TrustedParty'
      x-examples:
        example:
          total_count: 1
          list:
            - trusted_entity_id: 1bzn6ex7fRxKQsSqCJDDpyb4uaS
              name: Alice Doe
              address: alice@example.com
              created: 1589984018
    TrustedPartyNew:
      title: TrustedPartyNew
      required:
        - address
      type: object
      properties:
        address:
          title: Address
          type: string
          description: Email address of the user.
      example:
        address: alice@example.com
    AssetAmount:
      title: AssetAmount
      required:
        - symbol
        - amount
      type: object
      properties:
        symbol:
          title: Asset symbol
          description: 'This is a symbol of the cryptocurrency or tokenized asset, e.g., BTC for Bitcoin.'
          type: string
        amount:
          title: Amount
          type: number
          description: The amount of each cryptocurrency or tokenized asset in Satoshis. Satoshi figures are in whole numbers.
    DepositAddress:
      title: DepositAddress
      required:
        - wallet_type
        - fund_id
      type: object
      properties:
        wallet_type:
          title: Wallet type
          type: string
          description: 'This declares the wallet type, which is specified by currency. Example is BTC or ETH.'
        fund_id:
          title: Fund ID
          type: string
          description: This is the fund id (from Fund API) to assign the wallet address to.
      example:
        wallet_type: BTC
        fund_id: a1wXN2saAiwJLQtaEkf6eS1K8un49sqNhcN8qKPSBBVe
    DepositAddressDetail:
      title: DepositAddressDetail
      required:
        - wallet_type
        - fund_id
        - address
        - amount
        - fund
      type: object
      properties:
        wallet_type:
          title: Wallet type
          type: string
          description: 'This declares the wallet type, which is specified by currency. Example is BTC or ETH.'
        fund_id:
          title: Fund ID
          type: string
          description: This is the fund id (from Fund API) to assign the wallet address to.
        address:
          title: Deposit wallet address
          type: string
          description: Deposit wallet address
        amount:
          title: Amount
          type: number
          description: The amount of currency in the wallet.
        fund:
          $ref: '#/components/schemas/FundDetail'
      example:
        address: 1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2
        wallet_type: BTC
        amount: 10
        fund_id: a1wXN2saAiwJLQtaEkf6eS1K8un49sqNhcN8qKPSBBVe
        fund:
          name: Fund 1
          principals:
            - PSBBVea1wXN2sa7dD1K8un49sqNhcN8qKAiwJLQtaZgx
          custody_group_id: Vea1wXN2sa7dD1K8un49sqNhcN8qKAiwJLQtaZgxPSBB
          custody_group:
            name: Custody group 2/3
            threshold: 2
            settle: true
            transfer: true
            account_codes:
              - PSBBVea1wXN2sa7dD1K8un49sqNhcN8qKAiwJLQtaZgx
              - 49sqNhcN8qKAiwJPSBBVea1wXN2sa7dD1K8unLQtaZgx
              - a1wXN2sa7PSBBVedD1K8un49sqNhcN8qKAiwJLQtaZgx
          fund_holdings:
            - symbol: BTC
              amount: 12
            - symbol: ETH
              amount: 504.77
            - symbol: USDT
              amount: 200451
    Fund:
      title: Fund
      required:
        - name
      type: object
      properties:
        name:
          title: Fund name
          type: string
          description: The name of the fund.
        description:
          title: Fund description
          type: string
          description: A description for the fund.
        custodygroup_withdraw:
          $ref: '#/components/schemas/NewCustodyGroup'
        custodygroup_tx:
          $ref: '#/components/schemas/NewCustodyGroup'
        wallets:
          type: array
          items:
            $ref: '#/components/schemas/NewWallet'
      description: 'A fund is the organisational unit that customers assign their portfolios into. Administrators, Principals and Custody Groups are assigned to each individual fund. There is only one Custody Group per Fund.'
      example:
        name: Fund 1
        description: Fund for demonstration purposes
        custodygroup_withdraw:
          threshold: 3
          members:
            - 1dnfLZolYD72zasqtmtTXXoaNNJ
            - 1dnfLeHXkaxasdg4akvxglwKTKV
            - 1dnfLsfgsaxQPs2v5kvxglwKTKV
            - 1dnfLeHXkaxQPs2v5kvxglwKTKV
        custodygroup_tx:
          threshold: 3
          members:
            - 1dnfLZolYD72zasqtmtTXXoaNNJ
            - 1dnfLeHXkaxasdg4akvxglwKTKV
            - 1dnfLsfgsaxQPs2v5kvxglwKTKV
            - 1dnfLeHXkaxQPs2v5kvxglwKTKV
        wallets:
          - name: New wallet
            asset: BTC-TESTNET
          - name: New wallet with custom custody group
            asset: BTC-TESTNET
            custodygroup_withdraw:
              threshold: 1
              members:
                - 1dnfLZolYD72zasqtmtTXXoaNNJ
                - 1dnfLeHXkaxasdg4akvxglwKTKV
            custodygroup_tx:
              threshold: 1
              members:
                - 1dnfLZolYD72zasqtmtTXXoaNNJ
                - 1dnfLeHXkaxasdg4akvxglwKTKV
          - name: New dedicated wallet
            asset: BTC-TESTNET
            type: 1
            connect:
              - counterparty_id: 6WM255GuS9ikHHDVdjZNXjrt3CzGg4HvXRbw94qmqjVm
                client_id: A12345
    NewWallet:
      title: Fund wallet
      type: object
      properties:
        name:
          title: Wallet name
          type: string
        asset:
          title: Wallet asset
          type: string
        custodygroup_withdraw:
          oneOf:
            - $ref: '#/components/schemas/NewCustodyGroup'
            - nullable: true
        custodygroup_tx:
          oneOf:
            - $ref: '#/components/schemas/NewCustodyGroup'
            - nullable: true
        type:
          $ref: '#/components/schemas/WalletType'
        connect:
          type: array
          nullable: true
          items:
            $ref: '#/components/schemas/ConnectAccount'
    WalletType:
      title: Wallet type
      type: integer
      default: 0
      description: |
        Wallet type:
          * `0` - Standard wallet
          * `1` - Dedicated wallet
          * `2` - Multi-counterparty wallet
    ConnectAccount:
      title: Connect account
      description: Connect external counterparty
      type: object
      properties:
        counterparty_id:
          title: Counterparty ID
          type: string
        client_id:
          title: Client ID
          type: string
    ExchangesList:
      title: List of available exchanges
      type: object
      properties:
        exchanges:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              url:
                type: string
              logourl:
                type: string
    FundWalletInfo:
      title: Wallet info
      type: object
      properties:
        wallet_id:
          type: string
        name:
          type: string
        asset:
          type: string
        type:
          $ref: '#/components/schemas/WalletType'
        status:
          type: string
        address:
          title: Deposit address
          type: string
        address_type:
          type: string
        short_code:
          type: string
        balance:
          title: Current balance of asset
          type: number
        custodygroup_withdraw:
          title: Withdrawal custody group ID
          type: string
        custodygroup_tx:
          title: Transfer custody group ID
          type: string
        policy_withdraw:
          $ref: '#/components/schemas/Policy'
        policy_tx:
          $ref: '#/components/schemas/Policy'
        connected:
          title: Connected external counterparties
          nullable: true
          type: array
          items:
            type: object
            properties:
              client_id:
                type: string
              counterparty_id:
                type: string
              name:
                type: string
              status:
                type: string
    FundHistoryItem:
      title: Wallet history item
      type: object
      properties:
        wallet_id:
          type: string
        tx_id:
          type: string
        chain_tx_id:
          type: string
        asset:
          type: string
        amount:
          title: Amount sent (positive) or received (negative)
          type: number
        fee:
          title: Fee paid (negative number)
          type: number
        net_amount:
          title: Net amount of the transaction sent (positive) or received (negative)
          type: number
        timestamp:
          title: Unix (epoch) time of the transaction
          type: number
    FundWalletHistory:
      title: Wallet history
      type: object
      properties:
        history:
          title: Transaction history
          type: array
          items:
            $ref: '#/components/schemas/FundHistoryItem'
    FundAsset:
      title: Fund asset
      type: object
      properties:
        assets:
          title: Fund assets
          type: array
          items:
            type: string
      example:
        assets:
          - BTC-TESTNET
    WalletIDList:
      title: List of wallet IDs
      type: object
      properties:
        wallets:
          title: Wallets
          type: array
          items:
            type: string
      example:
        wallets:
          - KGMWoEgmTZ9Voz9EAbtTHk7A2rhQra4aPcscYNLGePci
          - 9Voz9EAbtTHk7A2rhQgmTZYNLGePcira4aPcscKGMWoE
    FundWallet:
      title: Fund asset
      type: object
      properties:
        wallets:
          title: A list of new wallets to be created
          type: array
          items:
            $ref: '#/components/schemas/NewWallet'
      example:
        wallets:
          - name: New wallet
            asset: BTC-TESTNET
          - name: New wallet with custom custody group
            asset: BTC-TESTNET
            custodygroup_withdraw:
              threshold: 1
              members:
                - 1dnfLZolYD72zasqtmtTXXoaNNJ
                - 1dnfLeHXkaxasdg4akvxglwKTKV
            custodygroup_tx:
              threshold: 1
              members:
                - 1dnfLZolYD72zasqtmtTXXoaNNJ
                - 1dnfLeHXkaxasdg4akvxglwKTKV
          - name: New dedicated wallet
            asset: BTC-TESTNET
            type: 1
            connect:
              - counterparty_id: 6WM255GuS9ikHHDVdjZNXjrt3CzGg4HvXRbw94qmqjVm
                client_id: A12345
    CreateFundResponse:
      title: CreateFundResponse
      type: object
      properties:
        fund_id:
          title: Fund ID
          type: string
          description: The ID of the newly created fund
        custodygroup_withdraw:
          title: Withdraw custody group ID
          description: ID for the custody group of withdraw.
          type: string
        custodygroup_tx:
          title: Transfer custody group ID
          description: ID for the custody group of transfer.
          type: string
      example:
        fund_id: 1dnfLZolYD72zasqtmtTXXoaNNJ
        custodygroup_withdraw: 1dnfLYHOGn8gScmInkMXSPzitj5
        custodygroup_tx: 1dnfLeHXkaxQPs2v5kvxglwKTKV
    FundDetail:
      title: FundDetail
      type: object
      properties:
        fund_id:
          title: Fund ID
          type: string
        name:
          title: Fund name
          type: string
          description: The name of the fund.
        description:
          title: Fund description
          type: string
        custodygroup_withdraw:
          title: Withdrawal custody group ID
          type: string
        custodygroup_tx:
          title: Transfer custody group ID
          type: string
        policy_withdraw:
          $ref: '#/components/schemas/Policy'
        policy_tx:
          $ref: '#/components/schemas/Policy'
        members:
          title: Fund members
          type: array
          items:
            $ref: '#/components/schemas/FundMember'
        assets:
          title: Fund assets
          type: array
          items:
            type: string
          description: The fund's asset types
        wallets:
          title: Fund wallets
          type: array
          items:
            $ref: '#/components/schemas/FundWalletInfo'
          description: The fund's wallets
      description: 'A fund is the organisational unit that customers assign their portfolios into. Administrators, Principals and Custody Groups are assigned to each individual fund. There is only one Custody Group per Fund.'
      example:
        fund_id: 1dnpG2K2A5hMOVjGFl1DrsbnvmS
        name: Fund 1
        description: Fund for demonstration purposes
        custodygroup_withdraw: 1nL7QOoLqPDq89dcdhue6LJaFUS
        custodygroup_tx: 1nL7QUCW15xaV0jggAv1mFSR9jp
        policy_withdraw:
          id: 1nL7QOoLqPDq89dcdhue6LJaFUS
          name: withdraw policy
          threshold: 2
          members:
            - type: user
              id: fVj9DV2VtWCZES5Hb8J6w14MdeAq3owKmfTVcwy6TKqh
              name: John Doe
              user:
                firstName: John
                lastName: Doe
                email: john.doe@acme.corp
                username: john.doe
            - type: user
              id: tWCZES5Hb8J6w14MdefVj9DV2VAq3owKmfTVcwy6TKqh
              name: Jane Doe
              user:
                firstName: Jane
                lastName: Doe
                email: jane.doe@acme.corp
                username: jane.doe
            - type: core-client
              id: 6w14tWCZES5Hb8JMdefVj9DV2VAq3owKmfTVcwy6TKqh
              name: core client 1
              coreClient:
                name: core client 1
        policy_tx:
          id: 1nL7QUCW15xaV0jggAv1mFSR9jp
          name: tx policy
          threshold: 2
          members:
            - type: user
              id: fVj9DV2VtWCZES5Hb8J6w14MdeAq3owKmfTVcwy6TKqh
              name: John Doe
              user:
                firstName: John
                lastName: Doe
                email: john.doe@acme.corp
                username: john.doe
            - type: user
              id: tWCZES5Hb8J6w14MdefVj9DV2VAq3owKmfTVcwy6TKqh
              name: Jane Doe
              user:
                firstName: Jane
                lastName: Doe
                email: jane.doe@acme.corp
                username: jane.doe
            - type: core-client
              id: 6w14tWCZES5Hb8JMdefVj9DV2VAq3owKmfTVcwy6TKqh
              name: core client 1
              coreClient:
                name: core client 1
        members:
          entity:
            id: 1nKlfvP0U2HtHPmWDUKWJ4HR0xp
            accountCode: 3Xjk46grBSLRL6mYxB1NeoAVhgwiEHvAoehhYYwZkAYU
            name: ACME Corp
            initials: A
            type: company
            company:
              name: ACME Corp
          permissions:
            admin: true
        assets:
          - BTC-TESTNET
        wallets:
          - wallet_id: 5Hb8J6w14MdeAq3owKmfTVcwy6TKqhfVj9DV2VtWCZES
            name: New wallet
            asset: BTC-TESTNET
            type: 213312000
            status: ready
            address: mfXXBW8Tmzkd7bRKKsUmjucpLQLThv8eYX
            address_type: P2PKH
            short_code: buddy harsh stick
            balance: 0
            custodygroup_withdraw: 1nL7QOoLqPDq89dcdhue6LJaFUS
            custodygroup_tx: 1nL7QUCW15xaV0jggAv1mFSR9jp
            policy_withdraw:
              id: 1nL7QOoLqPDq89dcdhue6LJaFUS
              name: withdraw policy
              threshold: 2
              members:
                - type: user
                  id: fVj9DV2VtWCZES5Hb8J6w14MdeAq3owKmfTVcwy6TKqh
                  name: John Doe
                  user:
                    firstName: John
                    lastName: Doe
                    email: john.doe@acme.corp
                    username: john.doe
                - type: user
                  id: tWCZES5Hb8J6w14MdefVj9DV2VAq3owKmfTVcwy6TKqh
                  name: Jane Doe
                  user:
                    firstName: Jane
                    lastName: Doe
                    email: jane.doe@acme.corp
                    username: jane.doe
                - type: core-client
                  id: 6w14tWCZES5Hb8JMdefVj9DV2VAq3owKmfTVcwy6TKqh
                  name: core client 1
                  coreClient:
                    name: core client 1
            policy_tx:
              id: 1nL7QUCW15xaV0jggAv1mFSR9jp
              name: tx policy
              threshold: 2
              members:
                - type: user
                  id: fVj9DV2VtWCZES5Hb8J6w14MdeAq3owKmfTVcwy6TKqh
                  name: John Doe
                  user:
                    firstName: John
                    lastName: Doe
                    email: john.doe@acme.corp
                    username: john.doe
                - type: user
                  id: tWCZES5Hb8J6w14MdefVj9DV2VAq3owKmfTVcwy6TKqh
                  name: Jane Doe
                  user:
                    firstName: Jane
                    lastName: Doe
                    email: jane.doe@acme.corp
                    username: jane.doe
                - type: core-client
                  id: 6w14tWCZES5Hb8JMdefVj9DV2VAq3owKmfTVcwy6TKqh
                  name: core client 1
                  coreClient:
                    name: core client 1
          - wallet_id: 7MkABERLqL3FTNouykXtftkyBoseza4KfQ6YKQcS1xH6
            name: New dedicated wallet
            asset: BTC-TESTNET
            type: 1
            status: ready
            address: mndLfcZYSdN7uow8MJWCCffBaAQsrqW217
            address_type: P2PKH
            short_code: fatigue infant conduct
            balance: 1000000
            custodygroup_withdraw: 1nL7QOoLqPDq89dcdhue6LJaFUS
            custodygroup_tx: 1nL7QUCW15xaV0jggAv1mFSR9jp
            policy_withdraw:
              id: 1nL7QOoLqPDq89dcdhue6LJaFUS
              name: withdraw policy
              threshold: 2
              members:
                - type: user
                  id: fVj9DV2VtWCZES5Hb8J6w14MdeAq3owKmfTVcwy6TKqh
                  name: John Doe
                  user:
                    firstName: John
                    lastName: Doe
                    email: john.doe@acme.corp
                    username: john.doe
                - type: user
                  id: tWCZES5Hb8J6w14MdefVj9DV2VAq3owKmfTVcwy6TKqh
                  name: Jane Doe
                  user:
                    firstName: Jane
                    lastName: Doe
                    email: jane.doe@acme.corp
                    username: jane.doe
                - type: core-client
                  id: 6w14tWCZES5Hb8JMdefVj9DV2VAq3owKmfTVcwy6TKqh
                  name: core client 1
                  coreClient:
                    name: core client 1
            policy_tx:
              id: 1nL7QUCW15xaV0jggAv1mFSR9jp
              name: tx policy
              threshold: 2
              members:
                - type: user
                  id: fVj9DV2VtWCZES5Hb8J6w14MdeAq3owKmfTVcwy6TKqh
                  name: John Doe
                  user:
                    firstName: John
                    lastName: Doe
                    email: john.doe@acme.corp
                    username: john.doe
                - type: user
                  id: tWCZES5Hb8J6w14MdefVj9DV2VAq3owKmfTVcwy6TKqh
                  name: Jane Doe
                  user:
                    firstName: Jane
                    lastName: Doe
                    email: jane.doe@acme.corp
                    username: jane.doe
                - type: core-client
                  id: 6w14tWCZES5Hb8JMdefVj9DV2VAq3owKmfTVcwy6TKqh
                  name: core client 1
                  coreClient:
                    name: core client 1
            connected:
              counterparty_id: 6WM255GuS9ikHHDVdjZNXjrt3CzGg4HvXRbw94qmqjVm
              name: Test Excahnge
              client_id: A12345
              status: connected
    Policy:
      title: Custody policy
      type: object
      properties:
        id:
          title: Polocy ID
          type: string
        name:
          title: Policy name
          type: string
        threshold:
          title: Custody group threshold
          description: Minimum number of custodian approval signatures out of the total number for a transaction to happen.
          type: integer
        members:
          title: Custody group members
          description: Members that are assigned as custodians to approve transactions..
          type: array
          items:
            $ref: '#/components/schemas/Entity'
    FundDepositResponse:
      title: FundDepositResponse
      type: object
      properties:
        total_count:
          title: Total count
          type: integer
        list:
          title: List
          type: array
          items:
            type: object
            properties:
              asset:
                type: string
                description: Name of asset
              address:
                title: Address of asset
                type: string
              balance:
                title: Current balance of asset
                type: number
      example:
        total_count: 0
        list:
          - asset: BTC-TESTNET
            address: n2GoFtw8aTH6yoMK9UW3fxrSp3iTL6jwUX
            balance: 0
    TxHistoryItem:
      description: TxHistoryItem is a single record of a transaction history
      properties:
        TxID:
          type: string
        accountNo:
          type: string
        address:
          type: string
        amount:
          format: int64
          type: integer
        asset:
          type: string
        benefitOf:
          type: string
        chainTxID:
          type: string
        counterpartyID:
          type: string
        counterpartyName:
          type: string
        expireTime:
          format: int64
          type: integer
        fees:
          format: int64
          type: integer
        fundID:
          type: string
        netAmount:
          format: int64
          type: integer
        reference:
          type: string
        status:
          enum:
            - pending_initiate
            - pending
            - expired
            - approved
            - initiate_rejected
            - custody_rejected
            - chain_rejected
            - taker_pending
            - taker_approved
          type: string
        timestamp:
          format: int64
          type: integer
        type:
          enum:
            - none
            - deposit
            - withdraw
            - transferIn
            - transferOut
            - swap
            - swapIn
            - swapOut
          type: string
      type: object
    TxLedger:
      title: TxLedger
      description: Transaction ledger
      type: object
      properties:
        List:
          items:
            $ref: '#/components/schemas/TxHistoryItem'
          type: array
        Total:
          type: integer
      example:
        Total: 2
        List:
          - TxID: 1kEe4G9mopRzQk3HKnnebfCj5Dh
            chainTxID: 8frWYAHJL6wvpY7ioT35sKZ5kyqaSt6kLdTaSShZ11Gb
            fundID: 1kEYnRGrYmuhNLFvVhwiiqj6XcM
            timestamp: 1605269988
            expireTime: 1640998800
            status: approved
            type: transferOut
            asset: BTC-TESTNET
            amount: 2803
            fees: 3
            netAmount: 2800
            counterpartyID: 1kEY6PBbhiseE7RfifsMCDusXL8
            counterpartyName: ACME Corp
            address: ''
            reference: CX15R99XX
            benefitOf: John Smith
            accountNo: 123-XX
          - TxID: ''
            chainTxID: EX79B14iusvPjnBaZzaEunxQppdBayGW7KEd2Y8hWtQ8
            fundID: 1kEYnRGrYmuhNLFvVhwiiqj6XcM
            timestamp: 1605267445
            expireTime: 0
            status: ''
            type: deposit
            asset: BTC-TESTNET
            amount: 10000
            fees: 0
            netAmount: 10000
            counterpartyID: ''
            counterpartyName: ''
            address: mjyWz5ZAXAeG9FFbigDyt3WqebrGohuemk
            reference: ''
            benefitOf: ''
            accountNo: ''
    FundSearchResult:
      title: FundSearchResult
      description: Fund seearch result
      type: object
      properties:
        total_count:
          title: Total count
          description: Total count in integer format of the number of funds.
          type: integer
        list:
          title: List
          description: Array showing details of each fund.
          type: array
          items:
            type: object
            properties:
              name:
                title: Name
                description: Name of the Fund.
                type: string
              id:
                title: ID
                description: fund ID.
                type: string
      example:
        total_count: 2
        list:
          - name: Fund 1
            id: 1dnpG2K2A5hMOVjGFl1DrsbnvmS
          - name: Fund 2
            id: 2cnpG2D2A5hMOVjGFl1DrsbnvmN
    EntityType:
      title: Entity type
      type: string
      enum:
        - user
        - company
[...]
